<form action="" class="w-50" (ngSubmit)="onAddItem(itemForm)" #itemForm="ngForm">
  <input type="text" class="form-control m-3" placeholder="Producto" [(ngModel)]="item.product" name="product" required
    minlength="3" #product="ngModel">
  @if (product.invalid && (product.dirty || product.touched)) {
    @if (product.errors!['required']) {
      <div class="alert alert-danger m-3">
        El producto es obligatorio.
      </div>
    }
    @if (product.errors!['minlength']) {
      <div class="alert alert-danger m-3">
        El nombre del producto debe tener al menos 3 caracteres.
      </div>
    }
  }

  <input type="number" class="form-control m-3" placeholder="Precio" [(ngModel)]="item.price" name="price" required
    min="10000" #price="ngModel">
  @if (price.invalid && (price.dirty || price.touched)) {
    @if (price.errors!['required']) {
      <div class="alert alert-danger m-3">
        El precio es obligatorio.
      </div>
    }
    @if (price.errors!['min']) {
      <div class="alert alert-danger m-3">
        El precio minimo es de 10000.
      </div>
    }
  }
  <input type="number" class="form-control m-3" placeholder="Cantidad" [(ngModel)]="item.quantity" name="quantity"
    required min="1" #quantity="ngModel">
  @if (quantity.invalid && (quantity.dirty || quantity.touched)) {
    @if (quantity.errors!['required']) {
      <div class="alert alert-danger m-3">
        La cantidad es obligatoria.
      </div>
    }
    @if (quantity.errors!['min']) {
      <div class="alert alert-danger m-3">
        Al menos un articulo.
      </div>
    }
  }
  <button class="btn btn-primary m-3" [disabled]="itemForm.invalid">Nuevo item</button>
</form>
